<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false"
             type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler,Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>
    <!--Connectstring-->
    <add key="server" value="."/>
    <add key="dbname" value="EducationCenter"/>
    <add key="username" value="sa"/>
    <add key="password" value="Thanhphuoc826956@"/>

    <!--<add key="server" value="112.78.2.84"/>
    <add key="dbname" value="vie4e143_Viettel"/>
    <add key="username" value="vie4e143_linh"/>
    <add key="password" value="Thanhphuoc826956@"/>-->
    <!--End-->
  </appSettings>
  <system.web>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <sessionState timeout="1800"></sessionState>
    <pages validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="110" maxRequestLength="100000" />
    <customErrors mode="Off"/>
    <globalization culture="en-GB"/>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
    </staticContent>
  </system.webServer>
  <rewriter>
    <rewrite url="~/home/" to="~/Default.aspx" />
    <!--<rewrite url="~/gallery/" to="~/page/gallerry.aspx" />
    <rewrite url="~/video/" to="~/page/video.aspx" />-->
    <rewrite url="~/news/(.+)" to="~/page/News.aspx?id=$1" />
    <rewrite url="~/news-thumb/(.+)" to="~/page/titile.aspx?id=$1" />
    <rewrite url="~/detail/(.+)" to="~/page/info.aspx?id=$1" />
    <!--<rewrite url="~/intro/(.+)" to="~/page/info.aspx?id=$1" />-->
    <!--<rewrite url="~/training/(.+)" to="~/page/parrent.aspx?ID_Page=$1" />-->
  </rewriter>
</configuration>
